.form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.form-row{
    display: flex;
    flex-direction: column;
    width: 100%;
 
}

.form-row > label{
   
}

.form-row > input{
    font-size: 20px;
}

.form-row > button{

}
.form-row > span{

}
.form-row > a{

}